<div class="container">

	<h1 class="heading">Photo Gallery </h1>

	<div class="gallery">

		<div class="gallery-item">
			<img class="gallery-image" src="assets/img/1.jpg" alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/img/5.jpg" alt="sunset behind San Francisco city skyline">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/img/3.jpg" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/img/4.jpg" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/img/2.jpg" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
		</div>

		<div class="gallery-item">
			<img class="gallery-image" src="assets/img/6.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
		</div>

	</div>

</div>