<html>
    <body>
        <div class="container">
            <h1>Courses offered by us</h1>
            <div class="table-1">
                <h2>Post-Gradutate Courses</h2>
              <table>
                
                <tbody>
                   
                  <tr>
                    <th>Course Name</th>
                    <th>ShortForm</th>
                    <th>Years</th>
                  </tr>
                  <tr>
                    <td data-th="Block">Master's in Computer Application</td>
                    <td data-th="Element">MCA</td>
                    <td data-th="Modifier">2 Years</td>
                  </tr>
                  <tr>
                    <td data-th="Block">Master's in Business</td>
                    <td data-th="Element">MBA</td>
                    <td data-th="Modifier">2 Years</td>
                  </tr>
                  <tr>
                    <td data-th="Block">Master's in Technology</td>
                    <td data-th="Element">M.Tech</td>
                    <td data-th="Modifier">2 Years</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-2">
                <h2>Under-Gradutation Courses</h2>
              <table>
                <tbody>
                  <tr>
                    <th>Course Name</th>
                    <th>ShortForm</th>
                    <th>Years</th>
                  </tr>
                  <tr>
                    <td data-th="Block">Batchelor's in Computer Application</td>
                    <td data-th="Element">BCA</td>
                    <td data-th="Modifier">3 Years</td>
                  </tr>
                  <tr>
                    <td data-th="Block">Batchelor's in Business</td>
                    <td data-th="Element">BBA</td>
                    <td data-th="Modifier">3 Years</td>
                  </tr>
                  <tr>
                    <td data-th="Block">Batchelor's in Technology</td>
                    <td data-th="Element">B.Tech</td>
                    <td data-th="Modifier">5 Years</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-3">
             
            </div>
          </div>
    </body>
</html>
