<body>
    <section class="section-one"> 
       <div class="container">
         <h1>Welcome to Union Christian College</h1>
         <p>Click below to know the Courses offered </p>
         <a (click)="NavCourse()" class="home-button">Courses</a>
       </div>  
     </section> 
    
    <section class="section-two">
       <div class="container-two">
         <div class="container-two-content content">
           <h1>About College</h1>
           <p>Union Christian College , Aluva was established  in 1921 as an ecumenical, Indian Christian initiative in the field of higher education in Kerala. The college was founded by four young visionaries – Shri. K.C. Chacko, Shri. A.M. Varki, Shri. C.P. Mathew and Shri. V.M. Ittyerah,</p>
           <p> who were  alumni of Madras Christian College. Providentially inspired by their Christian faith and commitment, they envisaged the  institution as a center based on the values of integrity and social commitment, promoting learning and culture. A sprawling green campus spread over 40 acres, the college is located on the banks of river Periyar, about 12 kilometers away from the Cochin International Airport.  Affiliated to Mahatma Gandhi University, Kottayam, the institution is known for its academic excellence and research potential. The college has 18 academic departments, with around 1900 students and 160 faculty members.</p>
         </div>
         <div class="container-two-content content-image">
           <img src="assets/img/collge.jpg">
         </div>
       </div>
    </section>
      
      <footer>
        <div class="footer-container">
          <div class="footer-content">
            <svg viewBox="0 0 512 512" width="100" title="university">
     <path d="M496 128v16a8 8 0 0 1-8 8h-24v12c0 6.627-5.373 12-12 12H60c-6.627 0-12-5.373-12-12v-12H24a8 8 0 0 1-8-8v-16a8 8 0 0 1 4.941-7.392l232-88a7.996 7.996 0 0 1 6.118 0l232 88A8 8 0 0 1 496 128zm-24 304H40c-13.255 0-24 10.745-24 24v16a8 8 0 0 0 8 8h464a8 8 0 0 0 8-8v-16c0-13.255-10.745-24-24-24zM96 192v192H60c-6.627 0-12 5.373-12 12v20h416v-20c0-6.627-5.373-12-12-12h-36V192h-64v192h-64V192h-64v192h-64V192H96z" />
   </svg>
   <h6>NeST Digital | College Website</h6>
          </div>
        </div>
      </footer>
   </body>